[access]
	inheritFrom = Public-Projects
[submit]
	action = rebase always
[label "Code-Review"]
	function = MaxWithBlock
	defaultValue = 0
	copyMinScore = true
	copyMaxScore = true
	copyAllScoresOnTrivialRebase = true
	copyAllScoresIfNoCodeChange = true
	value = -1 Don't submit as-is
	value = 0 No score
	value = +1 Looks good to me
	ignoreSelfApproval = true